* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 1.4rem;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
}

header {
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #FFD91E;
  color: #353C3E;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 50px;
}

nav a {
  text-decoration: none;
  color: #353C3E;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

nav li {
  font-size: 1.1rem;
}

header .container {
  justify-content: space-between;
  padding-bottom: 100px;
}

.header-left {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-self: center;
}

.header-left h1 {
  width: 400px;
  margin-bottom: 20px;
  line-height: 2rem;
}

.header-left p {
  width: 400px;
  text-align: justify;
  margin-bottom: 20px;
}

.header-left button {
  width: 150px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  border: #353C3E;
  background-color: #353C3E;
  color: #FFD91E;
}

.header-left button:hover {
  background-color: #eee;
  color: #353C3E;
}
.container img {
  width: 592px;
  height: 432px;
  border-radius: 10px;
}
